@page "/TNVEDCode"
@model ManageDb.Pages.Views.TNVEDCode.IndexModel

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TNVEDCode.First().Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TNVEDCode.First().Name)
            </th>
            <td class="text-end">
                <b>Показать</b>
                <select>
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
            </td>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.TNVEDCode) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td class="col-md-2 text-end">
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
